<app-nav-bar></app-nav-bar><br>
<div class="container " style="text-align: center;">
  <table style="margin-left: 150px;">
    <tr>
      <td style="padding-bottom: 20px;"><label for="name">Enter your name:</label></td>
      <td style="padding-bottom: 20px;"><input style="margin-left: 10px;" type="text" id="name"><br></td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;"><label for="age">Enter your age:</label></td>
      <td style="padding-bottom: 20px;"><input style="margin-left: 10px;" type="text" id="age"></td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;"><label for="add">Enter your address:</label></td>
      <td style="padding-bottom: 20px;"><input style="margin-left: 10px;" type="text" id="add"></td>
    </tr>
    <tr>
      <td style="padding-bottom: 20px;"><button id="btn1" class="btn btn-primary" (click)="addData()">Add</button></td>
    </tr>
  </table>
</div>
<div id="div1"></div>